version: "3.9"

services:
  api:
    build: .
    container_name: nest-api
    ports:
      - "8080:80"      # External:Internal
    env_file:
      - .env.prod
    depends_on:
      - mongodb
      - redis
    networks:
      - app-net

  mongodb:
    image: mongo:7
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-net

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - app-net

volumes:
  mongo-data:

networks:
  app-net:
